<h1 class="title-first">About Me</h1>

<div class="row vspace-1">
  <div class="col-md-3">
    <img src="img/guang.png" class="img-responsive" alt="Guang Wang">
  </div>
  <div class="col-md-1">
<!--     <p class="font-bold">Phone:</p> -->
    <p class="font-bold">Email:</p>
    <p class="font-bold">Office:</p>
  </div>
  <div class="col-md-8">
<!--     <p>848-445-2868</p> -->
    <p>guang.wang AT rutgers.edu</p>
    <p>CoRE 331, Department of Computer Science,
      Rutgers University, NJ </p>
  </div>
</div>

<!-- <p>Xiang Liu is an Assistant Professor in Transportation Engineering at Rutgers University. He is also affliated with the Center for Advanced Infrastructure and Transportation (CAIT), one USDOT-designated national university transportation center. Xiang received his Ph.D. from the University of Illinois at Urbana-Champaign (UIUC), with a focus on rail safety and risk analysis. His work develops an integrated risk management framework for maximizing rail safety (particularly hazardous materials transportation) in the most cost-efficient manner. Some of his research results have been used by the American railroad industry in development of several recent rail safety policies and practices.</p>

<p>Xiang's research aims to improve the safety, efficiency and resiliency of transportation systems, with a current focus on freight and logistics systems. He, his students and his colleagues endeavor to advance the state of the art in four inter-related areas: 1) Transportation Accident Analysis and Prevention; 2) Risk Analysis of Energy Transportation; 3) Optimization of Infrastructure Management; and 4) Transportation Statistics and Data Mining.</p>

<h1 class="title">
  <span>Research Interests</span>
</h1>
<p class="font-style-1">The studies described below are related to my doctoral research at the Rail Transportation and Engineering Center (RailTEC) at the University of Illinois at Urbana-Champaign (UIUC), and my current work at Rutgers University. I sincerely appreciate all my past and current collaborators, colleagues, students and sponsors for their gracious support to help me to turn ideas into solutions to important industry challenges.</p>

<div ng-repeat="i in interests">
  <h2 class="subtitle">{{i.title}}</h2>
  <p>{{i.content}}</p>
</div>

<h1 class="title">
  <span>Honors & Awards</span>
</h1>
<ol>
  <li ng-repeat="h in honors">{{h.name}}</li>
</ol> -->
