<h1 class="title-first">About Me</h1>

<div class="row vspace-1">
  <div class="col-md-3">
    <img src="img/guang.png" class="img-responsive" alt="Guang Wang">
  </div>
  <div class="col-md-1">
<!--      <p class="font-bold">Phone:</p>  -->
<!--     <p class="font-bold">Email:</p>
    <p class="font-bold">Office:</p> -->
    <p class="font-bold"></p> 
  </div>
  <div class="col-md-8">
<!--     <p>848-445-2868</p> -->
<!--     <p>guang.wang AT rutgers.edu</p>
    <p>CoRE 331, Busch Campus, Piscataway, NJ 08854 </p> -->
    <p> Guang is a Ph.D. candidate in Department of Computer Science Under Prof. Desheng Zhang at Rutgers University. Before coming to Rutgers, he obtained the MS degree with honor at the State Key Laboratory of Rail Traffic Control and Safety, Beijing Jiaotong University, Beijing, China in 2017, where he was lucky to meet some talented researchers and started his academic career. Guang is interested in big data analytics, machine learning, and large-scale cyber-physical systems. Currently, his research is focusing on vehicle mobility and charging scheduling of heterogeneous electric vehicle networks including taxi, bus, car sharing, personal vehicle, etc. </p>
  </div> 
</div> 
<!-- <p>Xiang's research aims to improve the safety, efficiency and resiliency of transportation systems, with a current focus on freight and logistics systems. He, his students and his colleagues endeavor to advance the state of the art in four inter-related areas: 1) Transportation Accident Analysis and Prevention; 2) Risk Analysis of Energy Transportation; 3) Optimization of Infrastructure Management; and 4) Transportation Statistics and Data Mining.</p>

<h1 class="title">
  <span>Research Interests</span>
</h1>
<p class="font-style-1">The studies described below are related to my doctoral research at the Rail Transportation and Engineering Center (RailTEC) at the University of Illinois at Urbana-Champaign (UIUC), and my current work at Rutgers University. I sincerely appreciate all my past and current collaborators, colleagues, students and sponsors for their gracious support to help me to turn ideas into solutions to important industry challenges.</p>

<div ng-repeat="i in interests">
  <h2 class="subtitle">{{i.title}}</h2>
  <p>{{i.content}}</p>
</div>
-->
<!-- <h1 class="title">
  <span>Publications</span>
</h1>
<ol>
  <li ng-repeat="c in conferences">{{c.author}{c.title}{c.link}{c.source}}</li>
</ol> -->

<h1 class="title">
  <span>Teaching (TA)</span>
</h1>
<ol>
  <li ng-repeat="h in teachings">{{h.name}}</li>
</ol>

<h1 class="title">
  <span>Awards & Honors</span>
</h1>
<ol>
  <li ng-repeat="h in honors">{{h.name}}</li>
</ol>
<!-- 
<h1 class="title">
  <span>Publications</span>
</h1>
<ol>
  <li ng-repeat="c in conferences">{{c.author}{c.title}{c.link}{c.source}}</li>
</ol> -->
