<!-- <div ng-repeat="m in materials">
<h1 class="link-color">
  <div ng-if="m.link.length > 0">
    <a href="files/{{m.link}}">{{m.title}}</a>
    <span class="glyphicon glyphicon-paperclip" aria-hidden="true" style="font-size:20px;"></span>
  </div>
  <span ng-if="m.link.length <= 0">{{m.title}}</span>
</h1>
  <p ng-bind-html="m.content"></p>
</div> -->

<h1 class="title-first">Publications By Year</h1>

<div class="container">

 <font color="red">[Conference papers]</font>, <font color="purple">[Journal papers]</font>, <font color="blue">[Workshop/Demo papers]</font>, * co-first authors;<br>

<h3>2023</h3>
<li><font color="red">[KDD'23] </font>Lin Jiang, Shuai Wang, Baoshen Guo, Hai Wang, Desheng Zhang, <b>Guang Wang</b>,<br>
<b> FairCod: A Fairness-aware Concurrent Dispatch System for Large-scale Instant Delivery Services.</b>[<a href=" ">PDF</a>]<br>
  <i> The 29th SIGKDD Conference on Knowledge Discovery and Data Mining, Long Beach, CA, USA, August 6 - 10, 2023 </i><br>
</li>

</ul>
</dt>
