<h1 class="title-first">Pulications</h1>


<h2 class="subtitle">Selected Conference Papers</h2>
<ol>
  <li ng-repeat="c in conferences">
    <p><span ng-bind-html="c.author"></span> <a href="files/{{c.link}}">{{c.title}}</a> {{c.source}}</p>
  </li>
</ol>

<h2 class="subtitle">Journal Papers</h2>
<ol>
  <li ng-repeat="j in journals">
    <p><span ng-bind-html="j.author"></span> <a href="files/{{j.link}}">{{j.title}}</a> {{j.source}}</p>
  </li>
</ol>

<!-- <h2 class="subtitle">Magzine Articles</h2>
<ol>
  <li ng-repeat="m in magzines">
    <p><span ng-bind-html="m.author"></span> <a href="files/{{m.link}}">{{m.title}}</a> {{m.source}}</p>
  </li>
</ol> -->


