<!-- <h1 class="title-first">Sponsors/Collaborators</h1>

<p>We gratefully appreciate the support and collaboration from the following agencies or companies (alphabetically ordered):</p>
<ul>
  <li>Association of American Railroads (AAR)</li>
  <li>DecisionTek Inc. (DT)</li>
  <li>Federal Railroad Administration (FRA)</li>
  <li>New Jersey Department of Transportation (NJDOT)</li>
  <li>Oak Ridge National Laboratory (ORNL)</li>
  <li>Port Authority Trans-Hudson (PATH)</li>
  <li>Rutgers Center for Advanced Infrastructure and Transportation (CAIT)</li>
  <li>Rutgers Department of Civil and Environmental Engineering (CEE)</li>
  <li>Rutgers Research Council (RC)</li>
  <li>Rutgers School of Engineering (SOE)</li>
  <li>Transportation Technology Center Inc. (TTCI)</li>
</ul> -->



<h1 class="title">Projects</h1>
<div class="row vspace-2" ng-repeat="p in projects">
  <div class="col-md-6">
    <img ng-src="img/{{p.figure}}" class="img-responsive border-1" alt="{{p.title}}">
  </div>
  <div class="col-md-6">
    <p class="font-style-2">{{p.title}}</p>
    <p>{{p.content}}</p>
    <a class="btn btn-primary" href="{{p.link}}" ng-if="p.link.length > 0">Demo</a>
  </div>
</div>
