<!-- <h1 class="title-first">Teaching</h1>
<div class="vspace-2" ng-repeat="c in courses">
  <h2 class="subtitle">{{c.title}}</h2>
  <div class="row">
    <div class="col-md-6">
      <img ng-src="img/{{c.figure}}" class="img-responsive border-1" alt="{{c.title}}">
    </div>
    <div class="col-md-6">
      <p>{{c.content}}</p>
    </div>
  </div>
</div> -->


<!-- <h1 class="title-first">Teaching</h1>
</h1>
<ol>
  <li ng-repeat="h in teachings">{{h.name}}</li>
</ol> -->


<h1 class="title-first">Teaching</h1>
<dt>
<ul>                         
<li><span style="color: #000000;">CS205 Discrete Structure I：2019 Summer, 2018 Summer, 2017 Fall</span></li> 
<li><span style="color: #000000;">CS314 Principles of Programming Languages：2019 Spring, 2018 Spring</span></li> 
<li><span style="color: #000000;">CS206 Discrete Structure II：2018 Fall</span></li> 
</ul>
</dt>
